<header>
    <div class="container mt-4">
        <div class="d-flex justify-content-between">
            <div>
                <h1>{% block header_title %}BITMS{% endblock header_title %}</h1>
                <span>{% block header_subtitle %}Bus Information Terminal Management System{% endblock header_subtitle %}</span>
            </div>
            <div class="align-self-end">
                {% block header_actions %}
                <a href="{{ url_for('router.client.index') }}">Home</a>
                {% endblock header_actions %}
            </div>
        </div>
        <hr>
    </div>
</header>

